/* ================================= 
  Styles
==================================== */
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h3 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgb(104, 105, 162);
}

/* ================================= 
  Styles
==================================== */
.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main";
}

main {
  grid-area: main;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "nav main";
  }
}
main {
  display: grid;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 50%;
  }
}
@media (min-width: 768px) {
  .traffic,
.social {
    grid-column: 1/span 2;
  }
}
@media (min-width: 768px) {
  .daily,
.members,
.message {
    grid-column: 1/span 1;
  }
}
@media (min-width: 768px) {
  .mobile-users,
.recent-activity,
.settings {
    grid-column: 2/span 1;
  }
}
.widget-container-full,
.widget-container-half {
  width: 95vw;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}
/* ================================= 
  Styles
==================================== */
.settings-input {
  -webkit-appearance: none;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}

.settings-input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: rgb(255, 255, 255);
  transition: left 0.3s;
}

.settings-input:checked {
  background-color: green;
}

.settings-input:checked::after {
  left: 70%;
}

/* ================================= 
  Styles
==================================== */
header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  background-color: rgb(104, 105, 162);
  color: white;
}

header h1 {
  margin: 0 auto 0 0;
  font-size: 1em;
}

.bell {
  width: 25px;
  height: 25px;
  position: relative;
}

.divider {
  height: 100%;
  border: 1px solid lightgray;
  margin-left: 15px;
}

header .profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 15px;
}

header h3 {
  margin: 0;
  text-transform: initial;
  font-size: 0.5em;
}

/* ================================= 
  Styles
==================================== */
nav {
  grid-area: nav;
  background-color: rgb(66, 66, 104);
  display: flex;
  justify-content: center;
  padding: 15px;
}

nav img {
  width: 40px;
  height: 40px;
  margin-right: 25px;
  filter: invert(100%);
}

/* ================================= 
  Styles
==================================== */
.main-header {
  display: flex;
  justify-content: space-between;
}

.headline {
  margin: 10px 15px;
}

.tab {
  width: 100%;
  height: auto;
  background-color: #f3f5f4;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

/* ================================= 
  Styles
==================================== */
.alert p {
  margin: 0;
}

.alert-banner {
  display: flex;
  justify-content: space-between;
  background-color: rgb(104, 105, 162);
  width: 97%;
  padding: 15px;
  border-radius: 5px;
  margin: 15px auto;
  color: white;
}
.alert-banner-close:hover {
  cursor: pointer;
}

/* ================================= 
  Styles
==================================== */
.traffic {
  padding-bottom: 20px;
}

.traffic h3 {
  margin: 15px 0 10px 10px;
}

.traffic ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 75%;
  margin: 0 auto 15px;
  padding: 0;
}

/* ================================= 
  Styles
==================================== */
.daily {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.daily h3 {
  margin: 15px 0 35px 10px;
}

/* ================================= 
  Styles
==================================== */
.mobile-users {
  border-bottom: 1px solid lightgray;
}

.mobile-users h3 {
  margin: 15px 0 35px 10px;
}

#mobile-users-chart {
  margin-bottom: 35px;
}

/* ================================= 
  Styles
==================================== */
.social-containers {
  border-bottom: 1px solid lightgray;
  padding: 0 15px 0 0;
}

.social-containers h3 {
  margin: 15px 0 0 10px;
}

.social-container {
  display: flex;
  align-items: center;
  background-color: #f3f5f4;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  width: 98%;
  height: 100px;
  margin: 15px auto;
  margin-left: 10px;
  padding: 20px;
}
.social-image svg {
  fill: rgb(104, 105, 162);
}
.social-container p:first-child {
  color: rgb(104, 105, 162);
}

.social-container p:last-child {
  font-size: 2.5em;
  color: #949699;
}

.social-image {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

/* ================================= 
  Styles
==================================== */
.members h3,
.recent-activity h3 {
  margin: 15px 0 15px 10px;
}

.member,
.member-recent-activity {
  text-align: center;
}

.members .profile-image,
.recent-activity .profile-image {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.member,
.member-recent-activity {
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

.member:last-child,
.member-recent-activity:last-child {
  margin: 0;
  padding: 15px;
}

/* ================================= 
  Styles
==================================== */
.message {
  border-bottom: 1px solid lightgray;
}

.message h3 {
  margin: 15px 0 15px 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea,
form button {
  width: 95%;
  margin-bottom: 15px;
  border-radius: 5px;
}

form input {
  padding: 10px;
  height: 3.5rem;
  background-color: #f3f5f4;
  border: 1px solid #d2d2d2;
}

form textarea {
  padding: 10px;
  height: 10rem;
  background-color: #f3f5f4;
  border: 1px solid #d2d2d2;
}

form button {
  padding: 10px;
  height: 3.5rem;
  background-color: rgb(104, 105, 162);
  color: white;
  border: 1px solid lightgray;
  text-align: center;
}

/* ================================= 
  Styles
==================================== */
.toggle {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.toggle-email,
.toggle-visibility {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

.toggle-email input,
.toggle-visibility input {
  margin: 0;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.settings h3 {
  margin: 15px 0;
}

.settings select {
  padding: 10px;
  height: 3.5rem;
  background-color: #f3f5f4;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  margin-bottom: 15px;
}

.settings button {
  width: 50%;
  height: 3.5rem;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  color: white;
  border: 1px solid lightgray;
}

.settings-button {
  display: flex;
}

.settings .button-primary {
  margin-right: 20px;
  background-color: rgb(104, 105, 162);
}

.button-disabled {
  background-color: gray;
}

/* ================================= 
  media queries
==================================== */
@media (min-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: initial;
    padding: 15px 7px;
  }
  nav img {
    width: 40px;
    height: 40px;
    margin-bottom: 35px;
  }
  .main-header {
    grid-column: 1/span 2;
    justify-content: space-between;
  }
  .alert {
    grid-column: 1/span 2;
  }
  .traffic-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .traffic-header h3 {
    margin-right: auto;
    margin-left: 15px;
  }
  .traffic ul {
    width: initial;
    margin: 0;
  }
  .traffic ul li {
    margin-right: 15px;
  }
  .daily {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
  }
  .daily h3 {
    margin: 10px 15px 35px;
  }
  .mobile-users {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
  }
  .mobile-users h3 {
    margin: 10px 15px 35px;
  }
  #mobile-users-chart {
    margin-bottom: 0;
  }
  .social-containers {
    grid-column: 1/span 2;
  }
  .social-container {
    width: 90%;
    margin-left: 15px;
  }
  .social-containers h3 {
    margin: 15px 0 0 15px;
  }
  .social-cont {
    display: flex;
  }
  .members,
.recent-activity {
    grid-column: 1/span 2;
  }
  .members h3,
.recent-activity h3 {
    margin: 10px 0 0 15px;
  }
  .member,
.member-recent-activity {
    display: flex;
    text-align: initial;
    align-items: center;
    margin: 0 15px;
    padding: 15px 0;
  }
  .member p {
    margin-left: auto;
  }
  .member .profile-image,
.recent-activity .profile-image {
    margin-right: 15px;
  }
  .member:last-child,
.member-recent-activity:last-child {
    margin: 0;
    padding: 15px;
  }
  .message h3 {
    margin: 15px 0 15px 15px;
  }
  .message,
.settings {
    grid-column: 1/span 2;
  }
}
@media (min-width: 1024px) {
  .daily,
.members,
.message {
    grid-column: 1/span 1;
  }
  .mobile-users,
.recent-activity,
.settings {
    grid-column: 2/span 1;
  }
  .members,
.message {
    border-right: 1px solid lightgray;
  }
}

/*# sourceMappingURL=styles.css.map */

/* ================================= 
  Styles
==================================== */
.bell-svg{
  fill: white;
}
.bell-svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}
#notifications[data-visible=true] {
  display: block;
}
#notifications {
  display: none;
  background-color: lightgray;
  position: absolute;
  top: 40px;
  right: -20px;
  width: 320px;
  border-radius: 0 0 5px 5px;
  z-index: 10;
}
.notifications-badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: limegreen;
}
#notifications-badge {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 10;
}
.notification .notifications-badge {
  margin-right: 20px;
}
.notification {
  display: flex;
  align-items: center;
  margin: 0 0 5px;
  padding: 0 10px;
  background-color: white;
  color: black;
}
.close-icon {
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
.close-icon:hover {
  color: white;
  background-color: rgb(207, 35, 35);
  cursor: pointer;
}

/* ================================= 
  Styles
==================================== */
.traffic-header ul li {
  padding: 10px 15px;
}
.traffic-header ul li:hover {
  color: white;
  background-color: rgb(104, 105, 162);
  cursor: pointer;
  border-radius: 20px;
}
.active {
  background-color: limegreen;
  border-radius: 20px;
}

/* ================================= 
  Styles
==================================== */
.test-test {
  width: 100%;
}